    version: '3.8'
    services:
      app:
        build: .
        ports:
          - "9000:9000"
        deploy:
          resources:
            limits:
              cpus: '0.50'
              memory: 512M
            reservations:
              cpus: '0.25'
              memory: 128M
      cadvisor:
        image: gcr.io/cadvisor/cadvisor:latest
        hostname: cadvisor
        platform: linux/amd64
        volumes:
          - "/:/rootfs:ro"
          - "/var/run:/var/run:ro"
          - "/sys:/sys:ro"
          - "/var/lib/docker/:/var/lib/docker:ro"
          - "/dev/disk/:/dev/disk:ro"
        ports:
          - "8080:8080"
